.page-header {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  display: none;
}

.spotlight {
  display: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

.spotlight-header {
  text-align: center;
}

.album-img-container {
  margin: auto;
  display: inline-block;
  width: 250px;
  height:250px;
}

.text-over-img {
  text-align: center;
  position: absolute;
  top: 0px;
  color: white;
  background-color: #333333;
  padding: 5px;
  opacity: 0.95;
}
